.logo-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    width: 200px; /* Ajusta el tamaño de tu logo según tus necesidades */
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .auth-form {
    padding: 20px;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-button {
    margin-top: 16px;
  }
  