<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrar Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de la página -->
  <div class="content">
    <!-- Mostrar fecha y hora actuales -->
    <p>Fecha y Hora Actuales: {{ currentDateTime }}</p>
    
    <!-- Botón para registrar asistencia -->
    <ion-button expand="full" (click)="registrarAsistencia()">Registro de Asistencia</ion-button>
  </div>
</ion-content>
